@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  flex-grow: 1;
  background: #ffffff;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 455px;
  margin-left: 168px;
}

.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 20px 16px;
  transition: color 0.6s, transform 0.5s;
}
.navigation-link:hover {
  color: #756257;
  transform: scale(105%);
}
.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}
.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.additional-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  min-width: 270px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-link {
  display: block;
  text-decoration: none;
}

.additional-item:last-child {
  margin-left: 20px;
  padding: 14px 0;
}

.additional-link.favorite {
  position: relative;
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background-image: url(../images/icons/favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.additional-link.favorite:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}
.number-of-favorites {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.search-header {
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.search-header:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}
.want-button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 34px;
  border-radius: 4px;
}

.want-button:hover {
  background-color: #615048;
}

.want-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.want-button:focus {
  background-color: #615048;
}
.want-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hero {
  min-height: 485px;
  background-color: #422110;
  background-image: url("../images/hero-triangle.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, center top;
  background-size: 1200px 57px, cover;
  padding-top: 52px;
  padding-bottom: 81px;
  box-sizing: border-box;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding: 69px 0 0;
}

.contain-of-advantages::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 170px;
  right: 170px;
  top: 197px;
  background-color: rgba(0, 0, 0, 0.3);
}

.title-of-advantages {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  width: 620px;
  text-align: center;
  margin: 0 290px 25px 290px;
}

.reason-of-advantages {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 25px 216px 90px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
  box-sizing: border-box;
}

.advantages-item.middle {
  padding: 114px 85px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item--blue {
  width: 1200px;
  display: flex;
}

.advantages-item.blue:last-child {
  flex-direction: row;
}

.contain-of-advantages {
  position: relative;
  width: 400px;
  /* min-height: 385px; */
  text-align: center;
  background-color: #82b3d3;
  padding: 103px 85px;
}

.advantages-item--blue .contain-of-advantages::after {
  top: 188px;
  background-color: rgba(255, 255, 255, 0.3);
}
.black-text {
  position: relative;
}
.black-text::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 58px;
  bottom: -1px;
  background-color: rgba(0, 0, 0, 0.3);
}
.advantages-image {
  height: 100%;
  object-fit: cover;
  max-width: 800px;
  max-height: 385px;
}

.middle-advantages {
  display: flex;
}

.advantages-caption {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 175px;
}

.advantages-caption.white-text {
  color: white;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.advantages-caption.black-text {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  width: 230px;
  margin: 0 auto;
}

.advantages-description.white-text {
  color: white;
}

.services-text {
  text-align: center;
  margin: 64px auto 20px auto;
  width: 505px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.services-description {
  width: 490px;
  text-align: center;
  margin: 20px auto 64px auto;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.services-item {
  padding: 80px 85px;
  box-sizing: border-box;
  width: 400px;
}

.services-item::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.home::before {
  background-image: url("../images/icons/servise-home-icon.svg");
}

.food::before {
  background-image: url("../images/icons/food-icon.svg");
}

.gift::before {
  background-image: url("../images/icons/gift-icon.svg");
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-box-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.services-box-text {
  font-size: 18px;
  line-height: 21px;
  width: 230px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.services-icon {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  margin-bottom: 54px;
}

.hotel-search-btn {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-decoration: none;
  background-color: #756157;
  color: white;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  margin: 0 auto;
  border-width: 0;
}

.hotel-search-btn:hover {
  background-color: #615048;
}

.hotel-search-btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}
.hotel-search-btn:focus {
  background-color: #615048;
}

.subscribe {
  min-height: 415px;
  background-color: #422110;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 415px, cover;
  padding-top: 96px;
  padding-bottom: 104px;
  box-sizing: border-box;
  text-align: center;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.subscribe-text {
  margin: 20px auto 54px auto;
  font-size: 22px;
  line-height: 26px;
  color: white;
  width: 475px;
}

.email-field {
  font-size: 18px;
  line-height: 24px;
}

.footer-contain {
  width: 1200px;
  display: flex;
  box-sizing: border-box;
  padding: 46px 70px 30px 70px;
  justify-content: space-between;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  width: 47px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-svg {
  fill: #83b3d3;
}

.social-link:hover .social-svg {
  fill: #68a2ca;
}

.social-link:focus {
  outline: none;
}

.social-link:focus .social-svg {
  fill: #68a2ca;
}

.social-link:active .social-svg {
  fill: rgba(104, 162, 202, 0.3);
}
.htmlacademy-svg {
  fill: #000000;
}
.htmlacademy-logo:focus {
  outline: none;
}
.htmlacademy-logo:hover .htmlacademy-svg {
  fill: #756157;
}
.htmlacademy-logo:focus .htmlacademy-svg {
  fill: #756157;
}
.htmlacademy-logo:active .htmlacademy-svg {
  fill: rgba(117, 97, 87, 0.3);
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: black;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*catalog*/
.main-filter {
  min-height: 415px;
  background-color: #422110;
  background-image: url("../images/filter.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1200px 415px, cover;
  box-sizing: border-box;
  padding-top: 35px;
}

.hotel-filter {
  display: flex;
  color: white;
  align-items: center;
  padding: 40px 70px 60px;
  justify-content: flex-start;
}

.inner-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  color: white;
  margin-left: 70px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0 0 0 67px;
  padding-top: 8px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  padding-right: 13px;
  margin-right: 11px;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  background-image: url("../images/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: left;
  width: 7px;
  height: 10px;
}

.breadcrumbs-item:last-child::before {
  display: none;
}

.home-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/home-icon.svg");
  background-repeat: no-repeat;
  background-position: 3px 3px;
}

.facilities-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.type-house-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.value-group {
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  align-self: flex-start;
}

.facilities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.type-house-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.type-house-item {
  margin-bottom: 16px;
}

.facilities-item {
  margin-bottom: 16px;
}

.facilities-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  padding-left: 0;
}

.type-house-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 0;
}

.value-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.checkbox-label {
  display: inline-block;
  padding-left: 36px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.checkbox-label:hover {
  opacity: 0.6;
}
.checkbox-label:active {
  opacity: 0.3;
}
.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1px;
  top: 1px;
  background-color: #ffffff;
  border-radius: 4px;
}

.checkbox-label::after {
  content: "";
  width: 11px;
  height: 6px;
  position: absolute;
  left: 2px;
  top: 6px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  display: block;
}

.checkbox-input:focus + .checkbox-label::before {
  outline: 3px solid #83b3d3;
}
.control {
  display: inline-block;
  padding-left: 36px;
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.control:hover {
  opacity: 0.6;
}
.control:active {
  opacity: 0.3;
}
.control::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-radius: 50%;
}
.control::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 4.6px;
  top: 4.5px;
  background-color: #3f5e72;
  border-radius: 50%;
  display: none;
}
.control-input:checked + .control::after {
  display: block;
}
.control-input:focus + .control::before {
  outline: 3px solid #83b3d3;
}
.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 191px;
  box-sizing: border-box;
  align-items: center;
}

.apply-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: white;
  border: none;
  padding: 8px 50px;
  margin-bottom: 32px;
  border-radius: 4px;
  margin-top: 45px;
}

.apply-button:hover {
  background-color: #68a2ca;
}
.apply-button:focus {
  background-color: #68a2ca;
}
.apply-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: transparent;
  padding: 8px 57.5px;
}

.reset-button:hover {
  opacity: 0.6;
}
.reset-button:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}
.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.value-wrapper {
  display: flex;
  width: 288px;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}

.value-label {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  top: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.value-label-from {
  left: 111px;
}
.value-label-to {
  left: 255px;
}
.value-from {
  width: 143px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-right: 2px;
  -moz-appearance: textfield;
}
.value-from::-webkit-outer-spin-button,
.value-from::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.value-from:focus {
  outline: 3px solid #83b3d3;
}
.value-from:active {
  outline: 2px solid #000;
}
.value-to {
  width: 143px;
  margin: 0;
  padding: 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  border: none;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  -moz-appearance: textfield;
}
.value-to:focus {
  outline: 3px solid #83b3d3;
}
.value-to:active {
  outline: 2px solid #000;
}
.value-to::-webkit-outer-spin-button,
.value-to::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.range-container {
  width: 288px;
  position: relative;
  height: 20px;
  margin-top: 30px;
}

.range-scale {
  width: 100%;
  height: 1px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 14px;
  left: 0;
}

.range {
  width: 79%;
  position: absolute;
  height: 1px;
  border-top: 4px solid #ffffff;
  left: 0;
  top: -4px;
}

.range-handle {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  border: none;
  top: -12px;
}

.range-handle-min {
  left: 0;
}

.range-handle-max {
  left: 72%;
}

.catalog {
  padding: 48px 70px 60px 70px;
  box-sizing: border-box;
}

.sorting {
  display: flex;
  text-align: center;
  margin-bottom: 40px;
}

.title-of-sorting {
  max-width: 350px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 6px;
}

.drop-down-wrapper {
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: auto;
  margin-right: 70px;
}

.drop-down {
  font-family: inherit;
  width: 100%;
  padding: 14px 20px;
  padding-right: 48px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: none;
  outline: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url(../images/icons/expand.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.drop-down:hover {
  outline: 2px solid #68a2ca;
}
.drop-down:active {
  outline: 2px solid #68a2ca;
}

.drop-down:focus {
  outline: 2px solid #3f5e72;
}

.distribution-list {
  display: flex;
  gap: 8px;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.distribution-button {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 0;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.distribution-button:hover {
  border: 2px solid #000000;
}
.distribution-button:focus {
  border: 2px solid #68a2ca;
}

.distribution-button:active {
  border: 2px solid #000000;
}

.distribution-button-active {
  border: 2px solid #000000;
}
.distribution-button-active:hover {
  border: 2px solid #000000;
}

.table-button {
  background-image: url(../images/icons/table.svg);
}

.slide-button {
  background-image: url(../images/icons/slide-show.svg);
}

.list-button {
  background-image: url(../images/icons/list.svg);
}

.cards-of-catalog {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 40px;
}

.card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  width: 340px;
  box-sizing: border-box;
  /*display: flex;
  flex-direction: column;*/
}

.card-link {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.about-card {
  display: grid;
  width: 300px;
  grid-template-columns: 140px 140px;
  grid-template-rows: 21px 36px 37px;
  column-gap: 20px;
  row-gap: 16px;
  box-sizing: border-box;
}

.hotel-text {
  margin: 0;
}

.price {
  margin: 0;
  justify-self: end;
}

.image-of-card {
  order: 0;
  margin-bottom: 16px;
  max-width: 300px;
  max-height: 212px;
}

.title-of-card {
  font-size: 24px;
  line-height: 28px;
  order: 1;
  margin: 0;
  margin-bottom: 16px;
}

.more {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 26px;
  color: white;
}

.more:hover {
  background-color: #615048;
}
.more:focus {
  background-color: #615048;
}
.more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button {
  font-family: "PT Sans", sans-serif;
  background-color: #82b3d3;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  box-sizing: border-box;
}

.favorite-button:hover {
  background-color: #68a2ca;
}
.favorite-button:active {
  background-color: #68a2ca;
}

.favorite-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button.active-button {
  background-color: #7db54f;
  padding: 8px 18px;
}

.favorite-button.active-button:hover {
  background-color: #6c9e42;
}
.favorite-button.active-button:focus {
  background-color: #6c9e42;
}
.favorite-button.active-button:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  border-radius: 4px;
}

.stars-list {
  padding: 0;
  margin: 0;
  align-self: center;
  background: url("../images/icons/star.svg") space 0 0;
  height: 17px;
}

.stars-list--one {
  width: 18px;
}

.stars-list--two {
  width: 40px;
}

.stars-list--three {
  width: 65px;
}

.stars-list--four {
  width: 88px;
}

.stars-list--five {
  width: 80px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 36px;
}

.button-of-pagination {
  font-size: 20px;
  line-height: 36px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  min-width: 60px;
  height: 60px;
  padding-top: 11px;
  box-sizing: border-box;
  text-align: center;
  background-color: #82b3d3;
  margin-right: 8px;
  border-radius: 4px;
  padding: 11px 10px;
}

.button-of-pagination:hover {
  background-color: #68a2ca;
}
.button-of-pagination:focus {
  background-color: #68a2ca;
}
.button-of-pagination:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-of-pagination.active-button-of-pagination:hover {
  background-color: #f2f2f2;
}

.button-of-pagination.active-button-of-pagination {
  background-color: #f2f2f2;
  color: black;
}

.button-of-pagination.etc {
  background-color: #ffffff;
  color: black;
}

.subscribe-form {
  display: flex;
}

.email-wrapper {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.email-field {
  width: 452px;
  padding: 14px 345px 14px 20px;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
  background-color: #f2f2f2;
  margin-right: 0;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 8px 50px;
  background-color: #82b3d3;
  border: none;
  margin-left: 0;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}
.subscribe-button:focus {
  background-color: #68a2ca;
}
.subscribe-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.inner-subscribe {
  min-height: 415px;
  background-color: white;

  background-position: center top;
  background-size: 1200px 415px, cover;
  padding-top: 96px;
  padding-bottom: 104px;
  box-sizing: border-box;
  text-align: center;
}

.inner-subscribe-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.inner-subscribe-text {
  margin: 20px auto 54px auto;
  font-size: 22px;
  line-height: 26px;
  color: black;
  width: 475px;
}

.modal {
  display: none;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(242, 242, 242, 0.8);
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-show {
  display: flex;
}

.modal-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 717px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-searching-form {
  position: relative;
  width: 577px;
  display: flex;
  flex-direction: column;
}

.modal-heading {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-closing-button {
  position: absolute;
  top: 64px;
  left: 613px;
  padding: 20px 19px 14px 19px;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-closing-button:hover {
  background-color: #e6e6e6;
}

.modal-closing-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-closing-button:active {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-dating-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 48px;
}

.modal-label {
  margin-right: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-field {
  box-sizing: border-box;
  width: 440px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  background-image: url("../image/calendar.svg");
  background-repeat: no-repeat;
  background-position: 400px 14px;
  border: none;
  border-radius: 4px;
}

.modal-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-field:hover {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
}

.modal-field:focus {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.6);
  outline: 3px solid #83b3d3;
}

.field-value {
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.notification-message {
  box-sizing: border-box;
  position: absolute;
  top: 52px;
  left: 157px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
}

.approve-message {
  box-sizing: border-box;
  position: absolute;
  top: 148px;
  left: 157px;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.count-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.count-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.child-count-wrapper {
  position: relative;
  padding-right: 36px;
}

.tooltip {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-left: 9px;
}

.tooltip-switch {
  display: block;
  width: 26px;
  height: 25px;
  border: none;
  border-radius: 26px;
  background-color: #83b3d3;
  background-image: url("../images/icons/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-switch:hover,
.tooltip-switch:focus,
.tooltip-switch:active {
  background-color: #68a2ca;
}

.tooltip-report {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 41px;
  left: -115px;
  width: 256px;
  padding: 20px 18px 23px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.tooltip-report::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 117px;
  top: -6px;
  transform: rotate(45deg);
  background-color: #333333;
}

.tooltip:hover .tooltip-report,
.tooltip-switch:focus + .tooltip-report {
  display: block;
}

.count-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  padding: 0;
  color: rgba(117, 97, 87, 0.3);
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.count-button:hover {
  color: #000000;
}

.count-button:focus svg {
  color: #000000;
  border: 3px solid #82b3d3;
  border-radius: 4px;
}

.count-button:focus {
  outline: none;
}

.count-button:active svg {
  color: rgba(117, 97, 87, 0.3);
}

.remove-button {
  margin-left: 46px;
  border-radius: 4px 0 0 4px;
}

.remove-button svg {
  padding: 9px 3px;
}

.add-button {
  border-radius: 0 4px 4px 0;
}

.add-button svg {
  padding: 3px;
}

.field-value {
  width: 31px;
  align-self: stretch;
}

.modal-search-button {
  padding: 18px 257px;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.modal-search-button.link-disabled {
  background-color: #e5e5e5;
}
.modal-opened {
  overflow: hidden;
}
